{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["transform-imports", {
      "@zooniverse/react-components": {
        "transform": "@zooniverse/react-components/${member}"
      }
    }]
  ],
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react", {
        "runtime": "automatic"
      }
    ]
  ]
}
