<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#00979d">
    <title>Zooniverse Community Catalog</title>
    <meta name="zooniverse:deployed_commit" content="<%= process.env.HEAD_COMMIT %>">
    <meta name="zooniverse:build_env" content="<%= process.env.NODE_ENV %>">
    <meta name="zooniverse:build_date" content="<%= new Date() %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        padding: 0;
        font-family: 'Karla', Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
